/*********************************************************************/
/************************* Footer Left Light *************************/
/*********************************************************************/

footer.light:hover {
    .footer__container {
        .footer__head {
            h3 {
                color:      transparent;
                transition: all ease-in-out 1s;
            }
        }

        .footer__social {
            .footer__social-list {
                li {
                    a {
                        i {
                            color:      transparent;
                            transition: all ease-in-out 1s;
                        }
                        
                        i:hover {
                            color:       var(--main-white);
                            text-shadow: 0 0.4rem 1.8rem var(--main-yellow);
                        }
                    }
                }
            }

            .footer__social-info {
                border-radius: 0.6rem;
                overflow:      hidden;

                p {
                    border:              0.4rem solid var(--main-white);
                    border-image-source: linear-gradient(
                        59deg, 
                        rgba(0,0,102,1) 0%, 
                        rgba(243,159,24,1) 37%, 
                        rgba(0,153,51,1) 100%
                    );
                    border-image-slice:  10;
                    border-image-repeat: no-repeat;
                    color:               transparent;
                    transition:          all ease-in-out 1s;
                }
            }
        }
        
        .footer__end {
            span {
                color:      transparent;
                transition: all ease-in-out 1s;
            }
        }
    }
}

footer.light {
    background-color: var(--base-3);
    height:           100rem;
    padding-top:      15rem;
    width:            100%;

    .footer__container {
        align-items: center;
        background:  rgb(0,152,218);
        background: linear-gradient(
            59deg, 
            rgba(0,0,102,1) 0%, 
            rgba(243,159,24,1) 37%, 
            rgba(0,153,51,1) 100%
        );
        background-clip:         text;
        background-repeat:       repeat;
        background-size:         100%;
        -webkit-background-clip: text;
        -moz-background-clip:    text;
        -o-background-clip:      text;
        display:                 flex;
        flex-direction:          column;
        height:                  85rem;
        justify-content:         space-evenly;
        padding:                 4rem;
        width:                   100%;
        
        .footer__head {
            width: 100%;

            h3 {
                color:      var(--main-white);
                font-size:  4rem;
                margin:     0 auto;
                transition: all ease-in-out 1s;
                text-align: center;
                width:      min(125rem, 90%);
            }
        }

        .footer__social {
            align-items:     center;
            display:         flex;
            flex-direction:  row;
            justify-content: center;
            width:           min(120rem, 90%);

            .footer__social-list {
                list-style: none;
                margin:     0 4rem;

                li {
                    margin:  0 auto;
                    padding: 2rem;

                    a {
                        i {
                            color:      var(--main-white);
                            font-size:  6.8rem;
                            transition: all ease-in-out 1s;
                        }
                    }
                }
            }

            .footer__social-info {
                border-radius: 0.6rem;
                margin:        0 4rem;
                overflow:      hidden;
                width:         60%;

                p {
                    border:              0.4rem solid var(--main-white);
                    border-image-slice:  40;
                    border-image-source: linear-gradient(
                        150deg, 
                        var(--main-white) 0%, 
                        var(--main-white) 44%, 
                        var(--main-white) 100%
                    );
                    border-image-repeat: no-repeat;
                    color:               var(--main-white);
                    display:             none;
                    padding:             4rem;
                    font-size:           2.8rem;
                    transition:          all ease-in-out 1s;
                    text-align:          center;
                    width:               100%;
                }

                p.footer-active {
                    display: block;
                }
            }
        }
        
        .footer__end {
            align-items:     center;
            display:         flex;
            flex-wrap:       wrap;
            justify-content: center;

            span {
                color:      var(--main-white);
                margin:     1rem auto;
                text-align: center;
                transition: all ease-in-out 1s;
            }
        }
    }
}