extend templates/base.pug


block Title 
    +Title("Contacto")


block Main
    main#contact
        +MainTitle("Contacto")
        section.top.left.light
        section.contact-section
            h3 Envíanos un mensaje
            form(data-aos="zoom-out-down").form
                .form__container
                    .form-legend-container
                        legend.form-legend Los campos con * son opcionales
                    .form__group
                        input(type="text" id="name", placeholder=" ").form__input
                        label(for="name").form__label Nombre:
                        span.form__line
                    .form__group
                        input(type="email", id="email", placeholder=" ").form__input
                        label(for="email").form__label Correo electrónico:
                        span.form__line
                    .form__group
                        input(type="tel", id="telephone", placeholder=" ").form__input
                        label(for="telephone").form__label Teléfono*:
                        span.form__line
                    .form__group
                        textarea(name="info", id="info", rows="5", placeholder=" ").textarea-form
                        label(for="info").form__label Mensaje*:                    
                button.submit-form.color-white.color-gray-hover Enviar
        section.contact-section
            h3 Contactanos por redes sociales
            .social-section
            .cards


                div(data-aos="flip-left", data-aos-once="true").flip-card
                    .instagram-background.border-radius-2rem.flip-card-inner
                        .flip-card-front
                            i.fa-brands.fa-instagram
                        .flip-card-back
                            h3 Instagram
                            p Visitanos en Instagram
                            a(href="#", target="_blank").clear-link.color-white.color-gray-hover Ver más
                div(data-aos="flip-right", data-aos-once="true").flip-card
                    .linkedin-background.border-radius-2rem.flip-card-inner
                        .flip-card-front
                            i.fa-brands.fa-linkedin
                        .flip-card-back
                            h3 Linkedin
                            p Visitanos en Linkedin
                            a(href="#", target="_blank").clear-link.color-white.color-gray-hover Ver más
                div(data-aos="flip-left", data-aos-once="true").flip-card
                    .tiktok-background.border-radius-2rem.flip-card-inner
                        .flip-card-front
                            i.fa-brands.fa-tiktok
                        .flip-card-back
                            h3 TikTok
                            p Ve nuestros bailes en Tiktok
                            a(href="#", target="_blank").clear-link.color-white.color-gray-hover Ver más
                div(data-aos="flip-right", data-aos-once="true").flip-card
                    .twitter-background.border-radius-2rem.flip-card-inner
                        .flip-card-front
                            i.fa-brands.fa-twitter
                        .flip-card-back
                            h3 Twitter
                            p Siguenos en Twitter
                            a(href="#", target="_blank").clear-link.color-white.color-gray-hover Ver más
                div(data-aos="flip-left", data-aos-once="true").flip-card
                    .pinterest-background.border-radius-2rem.flip-card-inner
                        .flip-card-front
                            i.fa-brands.fa-pinterest
                        .flip-card-back
                            h3 Pinterest
                            p No sabemos que es pinterest, pero siguenos
                            a(href="#", target="_blank").clear-link.color-white.color-gray-hover Ver más
                div(data-aos="flip-right", data-aos-once="true").flip-card
                    .facebook-background.border-radius-2rem.flip-card-inner
                        .flip-card-front
                            i.fa-brands.fa-facebook
                        .flip-card-back
                            h3 Pinterest
                            p Unete a nuestro grupo de Facebook
                            a(href="#", target="_blank").clear-link.color-white.color-gray-hover Ver más
                div(data-aos="flip-left", data-aos-once="true").flip-card
                    .whatsapp-background.border-radius-2rem.flip-card-inner
                        .flip-card-front
                            i.fa-brands.fa-whatsapp
                        .flip-card-back
                            h3 WhatsApp
                            p Envianos un mensaje por WhatsApp
                            a(href="#", target="_blank").clear-link.color-white.color-gray-hover Ver más
        section.bottom.left.light


block Footer                
    +Footer("")(class="footer-top--left dark")