extend templates/base.pug


block Title 
    +Title("Contacto")


block Main
    main#us
        section.top.light
        section.section-contact
        section.section-contact
        section.section-contact
        section.bottom.light

block Footer                
    +Footer("")(class="footer-top--left dark")