extend templates/base.pug


block Title 
    +Title("Inicio")


block Main
    +Header()
    main#index
        section(style="top: -15rem;").section-index.section-index--odd
            .section-index__container
                .testimonials 
                    .testimonials__container
                        .testimonial__container
                            .testimonial
                                .testimonial__info
                                    .testimonial__image
                                        img(src="img/jpg/hero-1.jpg", alt="Bukawi Testimonial")
                                    .testimonial__text
                                        .testimonial__stars
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias minus quis ea quaerat iste excepturi eligendi at beatae autem, rerum voluptatibus magni sunt perferendis necessitatibus, laudantium rem, tenetur temporibus fuga.
                                .testimonial__name
                                    h3 Maria Lopez Lopez
                        .testimonial__container
                            .testimonial
                                .testimonial__info
                                    .testimonial__image
                                        img(src="img/jpg/hero-1.jpg", alt="Bukawi Testimonial")
                                    .testimonial__text
                                        .testimonial__stars
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star
                                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias minus quis ea quaerat iste excepturi eligendi at beatae autem, rerum voluptatibus magni sunt perferendis necessitatibus, laudantium rem, tenetur temporibus fuga. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias minus quis ea quaerat iste excepturi eligendi at beatae autem, rerum voluptatibus magni sunt perferendis necessitatibus, laudantium rem, tenetur temporibus fuga.
                                .testimonial__name
                                    h3 Juan Luis Perez Perez
                        .testimonial__container
                            .testimonial
                                .testimonial__info
                                    .testimonial__image
                                        img(src="img/jpg/hero-1.jpg", alt="Bukawi Testimonial")
                                    .testimonial__text
                                        .testimonial__stars
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star
                                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias minus quis ea quaerat iste excepturi eligendi at beatae autem, rerum voluptatibus magni sunt perferendis necessitatibus, laudantium rem, tenetur temporibus fuga. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias minus quis ea quaerat iste excepturi eligendi at beatae autem, rerum voluptatibus magni sunt perferendis necessitatibus, laudantium rem, tenetur temporibus fuga.
                                .testimonial__name
                                    h3 Laura Perez Perez
                        .testimonial__container
                            .testimonial
                                .testimonial__info
                                    .testimonial__image
                                        img(src="img/jpg/hero-1.jpg", alt="Bukawi Testimonial")
                                    .testimonial__text
                                        .testimonial__stars
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star
                                            i.fa-solid.fa-star
                                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias minus quis ea quaerat iste excepturi eligendi at beatae autem, rerum voluptatibus magni sunt perferendis necessitatibus, laudantium rem, tenetur temporibus fuga. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias minus quis ea quaerat iste excepturi eligendi at beatae autem, rerum voluptatibus magni sunt perferendis necessitatibus, laudantium rem, tenetur temporibus fuga.
                                .testimonial__name
                                    h3 Arturo Perez Perez
                        .testimonial__container
                            .testimonial
                                .testimonial__info
                                    .testimonial__image
                                        img(src="img/jpg/hero-1.jpg", alt="Bukawi Testimonial")
                                    .testimonial__text
                                        .testimonial__stars
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                            i.fa-solid.fa-star.star
                                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias minus quis ea quaerat iste excepturi eligendi at beatae autem, rerum voluptatibus magni sunt perferendis necessitatibus, laudantium rem, tenetur temporibus fuga. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias minus quis ea quaerat iste excepturi eligendi at beatae autem, rerum voluptatibus magni sunt perferendis necessitatibus, laudantium rem, tenetur temporibus fuga.
                                .testimonial__name
                                    h3 Pedro Sanchez Sanchez
        section(style="top: 70rem;").section-index.section-index--even
            .section-index__container
                .products
                    .product__container 
                        .product__image 
                            img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.27 PM(1).jpeg", alt="Bukawi Product")
                        .product__name
                            h3 
                                a(href="https://www.logosinstitute.com.mx") Crotolamo Modelo 1
                    .product__container 
                        .product__image 
                            img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.36 PM.jpeg", alt="Bukawi Product")
                        .product__name
                            h3 
                                a(href="https://www.logosinstitute.com.mx") Crotolamo Modelo 1
                    .product__container 
                        .product__image 
                            img(src="img/jpeg/galery2.jpeg", alt="Bukawi Product")
                        .product__name
                            h3 
                                a(href="https://www.logosinstitute.com.mx") Crotolamo Modelo 1
                    .product__container 
                        .product__image 
                            img(src="img/jpeg/galery1.jpeg", alt="Bukawi Product")
                        .product__name
                            h3 
                                a(href="https://www.logosinstitute.com.mx") Crotolamo Modelo 1
                    .product__container 
                        .product__image 
                            img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.27 PM(1).jpeg", alt="Bukawi Product")
                        .product__name
                            h3 
                                a(href="https://www.logosinstitute.com.mx") Crotolamo Modelo 1
                    .product__container 
                        .product__image 
                            img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.36 PM(1).jpeg", alt="Bukawi Product")
                        .product__name
                            h3 
                                a(href="https://www.logosinstitute.com.mx") Calentador Modelo 1
        section(style="top: 155rem;").section-index.section-index--odd
            .section-index__container
                .home-text-light
                    .home-text__image
                        img(src="img/jpg/hero-1.jpg", alt="Bukawi Image Presentation")
                    .home-text__text
                        h3 Texto de inicio que muestra imagen
                        a(href="#") 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid accusantium libero quas mollitia assumenda veritatis molestias ea vel ratione, dignis...
                        .home-text__button 
                            a(href="#")
                                button Ver más 
        section(style="top: 240rem;").section-index.section-index--even
            .section-index__container
                .home-text-dark
                    .home-text__image
                        img(src="img/jpg/hero-1.jpg", alt="Bukawi Image Presentation")
                    .home-text__text
                        h3 Texto de inicio que muestra imagen
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid accusantium libero quas mollitia assumenda veritatis molestias ea vel.
                        .home-text__button 
                            a(href="#")
                                button Ver más 
        section(style="top: 325rem;").section-index.section-index--odd
            .section-index__container
                include components/indexComponents/slider.pug
                +Slider([['img/jpeg/WhatsApp Image 2022-06-21 at 5.12.26 PM.jpeg'], ['Slider 1', 'Llamanos para asesorarte en la eleccion de tu prodcuto'], ['img/jpeg/WhatsApp Image 2022-06-21 at 5.12.36 PM.jpeg']])


block Footer                
    +Footer("top: 500rem; position: absolute;")(class="footer-top--left dark")