extend templates/base.pug


block Title 
    +Title("Producto")


block Main
    +ProductTitle("Calentador grande de veinte tubos", "img/jpeg/WhatsApp Image 2022-06-21 at 5.12.27 PM(1).jpeg")
    main#product
        .product-image-app
            a(href="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.27 PM(1).jpeg", target="_blank") 
                img(alt="Bukawi Product Image Gallery")
        include components/indexComponents/slider.pug
        section.top.left.light
        section.section-product
            .product-container
                h1 Calentador Grande
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ex ipsa sit. Magni voluptate in totam vel fugit. Cumque ad itaque eligendi perferendis? Ullam distinctio dolores consequatur beatae commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ex ipsa sit. Magni voluptate in totam vel fugit. Cumque ad itaque eligendi perferendis? Ullam distinctio dolores consequatur beatae commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ex ipsa sit. Magni voluptate in totam vel fugit. Cumque ad itaque eligendi perferendis? Ullam distinctio dolores consequatur beatae commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ex ipsa sit. Magni voluptate in totam vel fugit. Cumque ad itaque eligendi perferendis? Ullam distinctio dolores consequatur beatae commodi
                .product-images 
                    +Slider([['img/jpeg/WhatsApp Image 2022-06-21 at 5.12.26 PM.jpeg'], ['Slider 1', 'Llamanos para asesorarte en la eleccion de tu prodcuto'], ['img/jpeg/WhatsApp Image 2022-06-21 at 5.12.36 PM.jpeg']])
                
        section.bottom.left.light


block Footer                
    +Footer("")(class="footer-top--left dark")