extend templates/base.pug


block Title 
    +Title("Producto")


block Main
    +ProductTitle("Calentador grande de veinte tubos", "img/jpeg/WhatsApp Image 2022-06-21 at 5.12.27 PM(1).jpeg")
    main#product
        section.top.left.light
        section.section-product
            .product-container
                h1 Calentador Grande
                img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.27 PM(1).jpeg", alt="Bukawi Product Image")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ex ipsa sit. Magni voluptate in totam vel fugit. Cumque ad itaque eligendi perferendis? Ullam distinctio dolores consequatur beatae commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ex ipsa sit. Magni voluptate in totam vel fugit. Cumque ad itaque eligendi perferendis? Ullam distinctio dolores consequatur beatae commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ex ipsa sit. Magni voluptate in totam vel fugit. Cumque ad itaque eligendi perferendis? Ullam distinctio dolores consequatur beatae commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ex ipsa sit. Magni voluptate in totam vel fugit. Cumque ad itaque eligendi perferendis? Ullam distinctio dolores consequatur beatae commodi
                
        section.bottom.left.light


block Footer                
    +Footer("")(class="footer-top--left dark")