extend templates/base.pug


block Title 
    +Title("Productos")


block Main
    main#products
        section.top.dark
        section.section-productos
        section.section-productos
        section.section-productos
        section.bottom.dark

block Footer                
    +Footer("")(class="footer-top--right light")