extend templates/base.pug


block Title 
    +Title("Productos")


block Main
    main#products
        +Presentation()
        section.top.right.dark
        section.section-products
            .products-container
                div(data-aos="flip-left").product
                    .product-card
                        .product-image
                            img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.27 PM(1).jpeg", alt="Bukawi Product Image")
                        .product-content.background-1
                            h3 Calentador Grande
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quae quidem iusto excepturi vitae officiis vel veritatis iste velit repudiandae reiciendis odit tempore. Aut dolorem corporis fuga accusamus? Sed, obc!
                            .display-block
                                a(href="product.html").clear-link
                                    button.product-link.color-white.color-gray-hover Ver más
                div(data-aos="flip-right").product
                    .product-card
                        .product-image
                            img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.27 PM(2).jpeg", alt="Bukawi Product Image")
                        .product-content.background-2
                            h3 Calentador Grande
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quae quidem iusto excepturi vitae officiis vel veritatis iste velit repudiandae reiciendis odit tempore. Aut dolorem corporis fuga accusamus? Sed, obc!
                            .display-block
                                a(href="product.html").clear-link
                                    button.product-link.color-white.color-gray-hover Ver más
                div(data-aos="flip-left").product
                    .product-card
                        .product-image
                            img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.38 PM.jpeg", alt="Bukawi Product Image")
                        .product-content.background-3
                            h3 Calentador Grande
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quae quidem iusto excepturi vitae officiis vel veritatis iste velit repudiandae reiciendis odit tempore. Aut dolorem corporis fuga accusamus? Sed, obc!
                            .display-block
                                a(href="product.html").clear-link
                                    button.product-link.color-white.color-gray-hover Ver más
                div(data-aos="flip-right").product
                    .product-card
                        .product-image
                            img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.13.00 PM.jpeg", alt="Bukawi Product Image")
                        .product-content.background-4
                            h3 Calentador Grande
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quae quidem iusto excepturi vitae officiis vel veritatis iste velit repudiandae reiciendis odit tempore. Aut dolorem corporis fuga accusamus? Sed, obc!
                            .display-block
                                a(href="product.html").clear-link
                                    button.product-link.color-white.color-gray-hover Ver más
                div(data-aos="flip-left").product
                    .product-card
                        .product-image
                            img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.39 PM.jpeg", alt="Bukawi Product Image")
                        .product-content.background-5
                            h3 Calentador Grande
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quae quidem iusto excepturi vitae officiis vel veritatis iste velit repudiandae reiciendis odit tempore. Aut dolorem corporis fuga accusamus? Sed, obc!
                            .display-block
                                a(href="product.html").clear-link
                                    button.product-link.color-white.color-gray-hover Ver más
                div(data-aos="flip-right").product
                    .product-card
                        .product-image
                            img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.27 PM(1).jpeg", alt="Bukawi Product Image")
                        .product-content.background-6
                            h3 Calentador Grande
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quae quidem iusto excepturi vitae officiis vel veritatis iste velit repudiandae reiciendis odit tempore. Aut dolorem corporis fuga accusamus? Sed, obc!
                            .display-block
                                a(href="product.html").clear-link
                                    button.product-link.color-white.color-gray-hover Ver más
                div(data-aos="flip-left").product
                    .product-card
                        .product-image
                            img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.39 PM.jpeg", alt="Bukawi Product Image")
                        .product-content.background-1
                            h3 Calentador Grande
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quae quidem iusto excepturi vitae officiis vel veritatis iste velit repudiandae reiciendis odit tempore. Aut dolorem corporis fuga accusamus? Sed, obc!
                            .display-block
                                a(href="product.html").clear-link
                                    button.product-link.color-white.color-gray-hover Ver más
        section.bottom.right.dark


block Footer                
    +Footer("")(class="footer-top--right light")