extend templates/base.pug


block Title 
    +Title("Testimonios")


block Main
    main#testimonials
        section.top.light
        section.section-testimonials
        section.section-testimonials
        section.section-testimonials
        section.bottom.light

block Footer                
    +Footer("")(class="footer-top--left dark")