extend templates/base.pug


block Title 
    +Title("Nosotros")


block Main
    main#us
        section.top.dark
        section.section-us
        section.section-us
        section.section-us
        section.bottom.dark

block Footer                
    +Footer("")(class="footer-top--right light")