/************************************************************/
/************************* Sections *************************/
/************************************************************/

main#index {
    position: relative;
}

.section-index {
    color:    var(--main-white);
    height:   100rem;
    position: absolute;
    width:    100%;

    .section-index__container {
        align-items:     center;
        display:         flex;
        height:          70rem;
        justify-content: center;
        margin:          15rem 0;
    }
}

.section-index--odd {
    background-color: var(--base-3);
    clip-path:        polygon(0 0, 100% 15%, 100% 85%, 0 100%);    
}

.section-index--even {
    background-color: var(--base-4);
    clip-path:        polygon(0 15%, 100% 0, 100% 100%, 0 85%);
}