/********************************************************/
/************************* Text *************************/
/********************************************************/

.home-text-light {
    align-items: center;
    background:  rgb(0,152,218);
    background:  linear-gradient(
        59deg, 
        rgba(0,0,102,1) 0%, 
        rgba(243,159,24,1) 37%, 
        rgba(0,153,51,1) 100%)
    ;
    background-clip:         text;
    background-repeat:       repeat;
    background-size:         100%;
    display:                 flex;
    flex-direction:          row;
    height:                  70rem;
    justify-content:         space-evenly;
    padding:                 4rem;
    width:                   min(140rem, 100%);
    -webkit-background-clip: text;
    -moz-background-clip:    text;
    -o-background-clip:      text;

    .home-text__image {
        img {
            border-radius: 50%;
            height:        36rem;
            width:         36rem;
        }
    }
    
    .home-text__text {
        padding: 0 0 0 4rem;

        h3 {
            border-bottom: solid 0.2rem var(--main-white);
            font-size:     3.8rem;
            margin-bottom: 4rem;
            transition:    all ease-in-out 0.6s;
        }

        p:hover {
            color: transparent;
        }

        p {
            font-size:  2rem;
            text-align: justify;
            transition: all ease-in-out 0.6s;
        }

        a {
            color:           var(--main-white);
            text-decoration: none;
        }

        a:hover {
            color: transparent;

            p {
                text-align: justify;
            }
        }

        .home-text__button {
            color:      transparent;
            margin-top: 2rem;
            
            a {
                background: linear-gradient(
                    59deg, 
                    rgba(0,0,102,1) 0%, 
                    rgba(243,159,24,1) 37%, 
                    rgba(0,153,51,1) 100%
                );
                border-radius: 2rem;
                color:         var(--main-white);
                display:       inline-block;
            
                button {
                    background-color: var(--base-3);
                    border:           solid 0.2rem var(--main-white);
                    border-radius:    2rem;
                    color:            var(--main-white);
                    font-size:        1.8rem;
                    padding:          1rem 4rem;
                    transition:       all ease-in-out 0.6s;
                }

                button:hover {
                    background-color: transparent;
                    cursor:           pointer;
                }
            }
        }
    }
}

.home-text-dark {
    align-items: center;
    background:  rgb(0,152,218);
    background:  linear-gradient(
        150deg, 
        rgba(0,152,218,1) 0%, 
        rgba(243,159,24,1) 44%, 
        rgba(230,46,27,1) 100%
    );
    background-clip:         text;
    background-repeat:       repeat;
    background-size:         100%;
    display:                 flex;
    flex-direction:          row-reverse;
    height:                  70rem;
    justify-content:         space-evenly;
    padding:                 4rem;
    width:                   min(140rem, 100%);
    -webkit-background-clip: text;
    -moz-background-clip:    text;
    -o-background-clip:      text;

    .home-text__image {
        img {
            border-radius: 50%;
            height:        36rem;
            width:         36rem;
        }
    }
    
    .home-text__text {
        padding: 0 4rem 0 0;

        h3 {
            border-bottom: solid 0.2rem var(--main-white);
            font-size:     3.8rem;
            margin-bottom: 4rem;
            transition:    all ease-in-out 0.6s;
        }

        p:hover {
            color: transparent;
        }

        p {
            font-size:  2rem;
            text-align: justify;
            transition: all ease-in-out 0.6s;
        }

        a {
            color:           var(--main-white);
            text-decoration: none;

            p {
                text-align: justify;
            }
        }

        a:hover {
            color: transparent;
        }

        .home-text__button {
            color:      transparent;
            margin-top: 2rem;
            
            a {
                background: linear-gradient(
                    150deg, 
                    rgba(0,152,218,1) 0%, 
                    rgba(243,159,24,1) 44%, 
                    rgba(230,46,27,1) 100%
                );
                border-radius: 2rem;
                color:         var(--main-white);
                display:       inline-block;
            
                button {
                    background-color: var(--base-4);
                    border:           solid 0.2rem var(--main-white);
                    border-radius:    2rem;
                    color:            var(--main-white);
                    font-size:        1.8rem;
                    padding:          1rem 4rem;
                    transition:       all ease-in-out 0.6s;
                }

                button:hover {
                    background-color: transparent;
                    cursor:           pointer;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .home-text-light {
        flex-direction: column;
    
        .home-text__image {
            img {
                height: 22rem;
                width:  22rem;
            }
        }
        
        .home-text__text {
            padding: 0 0 4rem 0;

            h3 {
                font-size: 2.4rem;
                text-align: center;
            }

            p {
                font-size:  2rem;
            }

            .home-text__button {
                align-items:     center;
                display:         flex;
                justify-content: center;
            }
        }
    }
    
    .home-text-dark {
        flex-direction: column;
    
        .home-text__image {
            img {
                height:        22rem;
                width:         22rem;
            }
        }
        
        .home-text__text {
            padding: 0 0 4rem 0;
            
            h3 {
                font-size:     2.4rem;
                text-align:    center;    
            }

            p {
                font-size:  2rem;
            }

            .home-text__button {
                align-items:     center;
                display:         flex;
                justify-content: center;
            }
        }
    }
}

@media (max-width: 400px) {
    .home-text-light {
        .home-text__image {
            img {
                height: 18rem;
                width:  18rem;
            }
        }
        
        .home-text__text {
            padding: 0;
        }
    }
    
    .home-text-dark {
        .home-text__image {
            img {
                height: 18rem;
                width:  18rem;
            }
        }
        
        .home-text__text {
            padding: 0;
        }
    }
}