.testimonial {
    align-items:     center; 
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    margin:          4rem auto;
    width:           100% ;

    .testimonial__images {
        width: 100%;
    }

    .testimonials__info {
        align-items:     center;
        display:         flex;
        flex-direction:  row;
        justify-content: center;
        padding-top:     10rem;
        width:           100%;

        .testimonial__photo {
            img {
                border-radius: 50%;
                height:        30rem;
                width:         30rem;
            }        
        }

        .testimonial__text {
            padding: 2rem;
            width:   50%;
            
            p {
                color:      var(--main-white);
                padding:    1rem;
                height:     20rem;
                overflow-y: scroll;
            }

            p::-webkit-scrollbar {
                background-color: transparent;
                width:            1.2rem;
            }
            
            p::-webkit-scrollbar-thumb {
                background-color: var(--base-4);
                border:           solid 1px var(--main-white);
                border-radius:    1rem;
            }
            
            p::-webkit-scrollbar-thumb:hover {
                background-color: var(--base-3);
                border:           solid 1px var(--main-gray);
                border-radius:    1rem;
            }

            .testimonial__head {
                align-items:     center;
                display:         flex;
                flex-direction:  row;
                justify-content: space-between;
                padding:         0 2rem;

                h3 {
                    color:      var(--main-white);
                    text-align: center;
                }

                .testimonial__stars {
                    margin: 2rem 0 1rem 0;

                    i {
                        color:     var(--main-gray);
                        font-size: 2rem;
                        margin:    0.4rem;
                    }

                    i.star {
                        color:     var(--main-yellow);
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .testimonial {
        justify-content: center;
    
        .testimonial__images {
            width: 80%;
        }
    
        .testimonials__info {
            flex-direction:  column;
    
            .testimonial__text {
                width:   80%;
            }
        }
    }
}


@media (max-width: 700px) {
    .testimonial {
        margin:          2rem auto;
    
        .testimonial__images {
            width: 100%;
        }
    
        .testimonials__info {
            .testimonial__text {
                width:   100%;
    
                .testimonial__head {
                    flex-direction:  column;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .testimonial {
        .testimonials__info {
            .testimonial__photo {
                img {
                    height: 28rem;
                    width:  28rem;
                }        
            }
        }
    }
}