.testimonial {
    margin: 4rem auto;
    background-color: pink;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100% ;
    
    .testimonials__info {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: row;

        .testimonial__photo {
            background-color: yellow;

            img {
                border-radius: 50%;
                height: 30rem;
                width: 30rem;
            }        
        }

        .testimonial__text {
            background-color: green;
            width: 50%;
            
            p {
                padding: 2rem;
                height: 20rem;
                overflow-y: scroll;
            }

            .testimonial__head {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

    }
}