.main-title {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    h1 {
        color: var(--main-light-blue);
        font-size: 12rem;
        margin: 0 2rem;
        padding: 2rem;
        transition: all ease-in-out 0.6s;
    }
    
    h1:hover {
        color: var(--main-dark-blue);
        text-shadow: 0 0.4rem 0.6rem var(--main-yellow);
    }
}

@media (max-width: 800px) {
    .main-title {
        h1 {
            font-size: 10rem;
        }
    }   
}

@media (max-width: 680px) {
    .main-title {
        h1 {
            font-size: 8rem;
        }
    }   
}

@media (max-width: 560px) {
    .main-title {
        h1 {
            font-size: 6rem;
        }
    }   
}

@media (max-width: 440px) {
    .main-title {
        h1 {
            font-size: 4rem;
        }
    }   
}

@media (max-width: 320px) {
    .main-title {
        h1 {
            font-size: 3.2rem;
        }
    }   
}