.desktop-menu {
    align-items: center;
    background-color: yellow;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 4rem 0;
    position: fixed;
    padding-left: 4rem;
    top: 0;
    width: 100%;

    .desktop-menu__block {        
        display: inline-block;
        height: 6rem;
        min-width: 14rem;
        position: relative;
        z-index: var(--i);
        
        .desktop-menu__link {
            align-items: center;
            background-color: $box-black;
            display: flex;
            // font-size: 1rem;
            justify-content: center;
            height: 100%;
            padding: 0 4rem;
            text-decoration: none;
            color: white;
            width: 100%;
        }
    }


    
    .desktop-menu__block::before {
        background-color: $box-black-side;
        content:          '';
        height:           100%;
        left:             -4rem;
        position:         absolute;
        transform:        skewY(14deg);
        transform-origin: right;
        transition:       0.2s;
        top:              0;
        width:            4rem;
    }

    .desktop-menu__block::after {
        background-color: $box-black-top;
        content:          '';
        height:           1rem;
        left:             0;
        position:         absolute;
        transform:        skewX(76deg);
        transform-origin: bottom;
        transition:       0.5s;
        top:              -1rem;
        width:            100%;
    }

}