mixin Footer(top)
    footer(class!=attributes.class, style!=top).footer
        .footer__container
            .footer__head 
                h3 No lo pienses más, tenemos una solución para ti
            .footer__social
                ul.footer__social-list
                    li
                        a(href="#"): i.fa-brands.fa-facebook
                    li
                        a(href="#"): i.fa-brands.fa-instagram
                    li
                        a(href="#"): i.fa-brands.fa-tiktok
                .footer__social-info
                    .footer__social-aux
                    p.footer__social-text.footer-active Síguenos en nuestras redes sociales
                    p.footer__social-text Texto de facebook Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum ratione est possimus quasi voluptate.
                    p.footer__social-text Texto de instagram Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum ratione est possimus quasi voluptate.
                    p.footer__social-text Texto de tiktok Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum ratione est possimus quasi voluptate.
            .footer__end
                span Bukawi 2022 
                span  - 
                span Todos los derechos reservados