mixin Header()
    header.main-header 
        .header__container 
            .header__image
                img(src="img/svg/logo.svg", alt="Bukawi Logo")
            .header__budget
                h3 Calcula tu presupuesto aproximado
                p Tenemos las mejores soluciones para tu ahorro
                a(href="budget.html")
                    button Ver presupuesto