mixin Presentation()
    .presentation 
        .presentation__container 
            .presentation__image
                img(src="img/svg/logo.svg", alt="Bukawi Logo")
            .presentation__budget
                h3 Productos
                p Consulta nuestro catalogo y elige la mejor opcion para ti