mixin ProductTitle(title, image)
    .product-title 
        .product-title__container 
            .product-title__image
                img(src=image, alt="Bukawi Product Image")
            .product-title__title
                .product-title__name
                    h1 #{title}
            
