mixin Slider(sliderContents)
    section(data-aos="fade-down").section-slider 
        .slider-container 
            ul.slider 
                li.slide: img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.36 PM.jpeg")
                li.slide: img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.13.00 PM.jpeg")
                li.slide.slide-text
                    .slide-information
                        h3 Los mejores productos
                        p Llamanos para asesorarte en la eleccion de tu prodcuto
                li.slide: img(src="img/jpeg/WhatsApp Image 2022-06-21 at 5.12.26 PM.jpeg")
        .slider-buttons-container 
            .slider-buttons 
                .slider__button
                .slider__button
                .slider__button
                .slider__button